body{
    width: 100%;
    height: auto;
}
/*最顶部导航条*/
.shortcut{
    width:100%;
    height:30px;
    border-bottom:1px solid #ccc; 
}


/*公用的居中的部分*/
.com_Cter{
    width: 1200px;
    margin: auto;
}
.shortcut a{
    color: #777;
}
.shortcut a:hover{
    color:red;
}
.shortcut li{
    float: left;
    line-height: 30px;
}
.sh_left li{
    margin-right:30px; 
}
.sh_right li{
    margin-left:20px; 
}



/*头部的搜索框和logo区域*/
.header{
    width:1200px;
    height: 112px;
    margin:auto;
}
    .header .logo{
        width: 240px;
        text-align:center;
    }
    .header .logo img{
        margin-top:15px;
        vertical-align: middle;
    }
    .header .search{
        width: 510px;
        height: 112px;
        margin-left:150px; 
    }
    .header .search input{
        display: block;
        width: 470px;
        height: 40px;
        line-height: 40px;
        border:1px solid #999;
        border-radius:35px; 
        background:url(../image/首页_06.png) no-repeat left center;
        padding-left:40px; 
        margin-top:25px; 
    }
    .header .search p{
        font-size:12px; 
        text-align: center;
        margin:5px 0; 
    }
    .header .search p a{
        padding:0 5px;
        border-right:1px solid #000;
        color:#777; 
    }
.header .search p a:last-child{
    border:0;
}
.header .search p a:hover{
    color: red;
    
}




/*banner的导航条*/
.nav{
    width:auto;
    height: 40px;
    background-color:black; 
    line-height: 40px;
}
.nav h4{
    color:aliceblue; 
    float: left;
    width: 220px;
    padding-left:20px;
    background-color:#6C49B8; 
}
.nav ul{
    width: 900px;
    height: 40px;
    float:left;
    margin-left:35px; 
}

.nav ul li{
    float: left;
    text-align: center;
}

.nav ul a{
    display: inline-block;
    color:#fff; 
    width: 72px;
    margin:auto; 
}
.nav ul a:hover{
    background-color:antiquewhite;
    color: #000;
}





/*banner图区域*/
.banner{
    width:auto;
    height: 468px;
    background-color:#EAE7E2; 
}
.bnnner_l{
    width: 240px;
    background-color:#fff;
    height: 468px;
    position: relative;
}
#class{
    height:42px;
    padding-left:20px; 
    padding-top:9px; 
/*    position: relative;*/
}
#class:hover{
    background-color:red; 
}
.drop{
     width: 760px;
    height: 468px;
    display: none;
    position: absolute;
    left:240px;
    top:0;
    z-index: 999;
    text-align: center;
}
/* 下拉菜单 */
#class:hover .drop{
    display: block;
}
#drop1{
    background-color:#fff; 
}
#drop1 ul{
    width: 760px;
    height: 200px;
}
#drop1 ul li{float: left;}
#drop1 ul li a{
    display: inline-block;
    width: 100px;
    text-align: center;
    line-height: 100px;
    background: #ccc;
    font-size:23px; 
}
#drop1 ul li a:hover{
    background-color:#666;
    color:yellow; 
}
#drop2{
    background-color:green;
}
/*
#drop3{
    background-color:blue;
}
*/
#drop4{
    background-color:black;
}
#drop5{
    background-color:red;
}
#drop6{
    background-color:#ccc;
}
#drop7{
    background-color:#ff00ff;
}
#drop8{
    background-color:blueviolet;
}
#drop9{
    background-color:orange;
}
/*
.banner_l #class:hover .drop{
    display:block;
}
*/
#class p a{
    margin-right:10px; 
}
.bnnner_l h1{
    width: 240px;
    font-weight: 600;
}
.bnnner_l  p a:hover{
    color:#EC9F09; 
}
.banner_c{
    width: 750px;
    height: 468px;
    background-color:#ccc;
    margin:0 10px; 
    position: relative;
    left:0;
}
.banner_c img{
    position: absolute;
    left:0;
}
.banner_c p{
    width: 182px;
    height: 20px;
    border-radius:20px;
    background-color:#D1CFCF;
    position:absolute;
    left:0;
    bottom:5px;
    margin-left:284px; 
    text-align: center;
    background-color: #D1CFCF;
}
.banner_c p span{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius:50%;
    background-color:#fff; 
    margin:0 2px; 
}

.banner_c p span:first-child{
    background-color:#58C9B9; 
}

.banner_r{
    width: 190px;
    height: 468px;
    background-color:#fff;
    text-align: center;
}
.banner_r .dom1{
    height: auto;
    padding-bottom:5px;
    border-bottom:1px solid #ccc; 
}
.banner_r .dom1 img{
    margin:10px; 
}
.banner_r .dom1 p{
    font-weight: 600;
    color:#999;
    width: 100%;
}
.banner_r .dom1 p a{
    font-weight:normal; 
    color:black; 
    font-size:12px; 
}
.banner_r .dom1 p:nth-of-type(2) a{
    display:inline-block;
    width: 58px;
    background-color:#58C9B9;
    color:#fff; 
    font-size:12px; 
}
.banner_r .dom1 .log{
    margin:5px 0; 
}
.banner_r p:last-child a:hover{
    color:red; 
}

.banner_r .dom2,.banner_r .dom3{
    padding:0 15px; 
}
.banner_r .dom2 h1,.banner_r .dom3 h1 {
    height: 20px;
    border-bottom:1px solid #ccc; 
}
.banner_r .dom2 h1 span,.banner_r .dom3 h1 span{
    float: left;
}
.banner_r .dom2 h1 a ,.banner_r .dom3 h1 a{
    float: right;
    color:#888; 
}
.banner_r .dom2 h1 a:hover,.banner_r .dom3 h1 a:hover{
    color:red;
    text-decoration:underline;
}
.banner_r .dom2 p{
    clear: both;
    text-align: left;
    margin-top:10px;
    color:#999; 
}
.banner_r .dom3{margin-top:10px;border-top:1px solid #ccc;  }
.banner_r .dom3 p{
    text-align: left;
    color:#999; 
}
.banner_r .dom3 h3{
    text-align: left;
    margin-top:10px; 
    color:#999; 
    
}


/*主体内容*/
#content{
    width:auto;
    height:auto; 
    background:#F6F6F6; 
}
/*车载用品*/
.vehicle{
    width:auto;
    height: 523px;
/*    border:1px solid #ccc;*/
    margin:auto;
    padding-top:18px; 
}

.vehicle h3{
    width:auto;
    height: 58px;
    background-color:#57C9B9; 
    font-size:22px;
    color:#fff; 
    line-height: 58px;
}
.vehicle h3 span{
    float:left;
    letter-spacing: 2px;
    word-spacing: 1px;
    margin-left:20px;  
}
.vehicle h3 ul{float:right; }
.vehicle h3 ul li{float: left;}
.vehicle h3 ul a{
    display: inline-block;
    width: 70px;
    height: 26px;
    background-color:#8BEDE1;
    margin-right:10px; 
    font-size:12px;
    line-height: 26px;
    text-align: center;
    color:#fff;
    
}
.veh_con{
    width:auto;
    height: 465px;
}
/*
.veh_con a{
    width: 232px;
    height: 232px;
    float: left;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    background-color:#fff;
    text-align: center;
}
*/
.veh_con .goods_left{
    width: 251px;
    height: 465px;
    float: left;
    background-color:#fff; 
}
.veh_con .goods_left a{
    float: left;
    display: inline-block;
    width: 251px;
    height: 465px; 
    background:url(../image/img1.png) no-repeat 100%; 
}

.veh_con .goods_left a h1{
    font-size:22px; 
    color:#47B8AA;
    margin-top:40px;
    margin-left: 20px;
    text-align: left;
}
.veh_con .goods_left a .p1{
    font-size:14px;
    color: #888;
    font-weight:600; 
    margin-left: 20px;
    margin-bottom:20px; 
}
.veh_con .goods_left a p{
    color: #C64D4D;
    margin-left:20px;
    font-weight:600;
    text-align: left;
}
.veh_con .goods_left a .p3{margin-top:5px; }
.veh_con .a_item{
    width: 949px;
    float: left;
}
.veh_con .a_item a{
    position: relative;
    width:237.25px;
    height: 232px;
    float: left;
    background-color:#fff;
    text-align: center;
}
.veh_con .a_item a img{
    width:100%;
    height: 100%;
}
.veh_con .a_item a p{
    width: 230px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    padding-left:5px; 
}
.veh_con .a_item .text{
    position:absolute;
    bottom:5px;  
}
.veh_con .text b{
    color:#B31313;
    font-weight:600;
    font-size:18px; 
}


/*品牌展示*/

.brand{
    width:auto;
    height: 100px;
    line-height: 100px;
    margin:5px auto 0; 
    border:1px solid #ccc;
    background-color:#fff;
    position:relative;
    padding:0 20px; 
}
.brand img{
    margin:0 11px; 
}
.brand span{
    display: inline-block;
    width: 20px;
    height: 100px;
    text-align: center;
    position: absolute;
    left:0;
    top:0;
    background-color:#ccc; 
    font-weight:700; 
}
.brand b{
    display: inline-block;
    width: 20px;
    height: 100px;
    background-color: antiquewhite;
    position:absolute;
    right:0;
    top:0;
    text-align:center;
    font-weight:700; 
}







/**********************************************************************************/



/*家居用品、家用电器*/
.home_live{
    width: 1200px;
    margin:20px auto 0;
    height: 523px;
}

/*家居用品*/
.live_l{
    width: 591px;
    height: 523px;
    border:1px solid red;
    float: left;
}


/*-------------------------------------------------------*/
.vehicle2{
    width: 100%;
    height: 523px;
/*    border:1px solid #ccc;*/
    margin:auto;
}

.vehicle2 h3{
    width: 100%;
    height: 58px;
    background-color:#57B3D3; 
    font-size:22px;
    color:#fff; 
    line-height: 58px;
}
.vehicle2 h3 span{
    float:left;
    letter-spacing: 2px;
    word-spacing: 1px;
    margin-left:20px;  
}
.vehicle2 h3 ul{float:right; }
.vehicle2 h3 ul li{float: left;}
.vehicle2 h3 ul a{
    display: inline-block;
    width: 70px;
    height: 26px;
    background-color:#8BEDE1;
    margin-right:10px; 
    font-size:12px;
    line-height: 26px;
    text-align: center;
    color:#fff;
}


.veh_con2{
/*       width: 193px;*/
    width: 100%;
    height: 416px;
    background-color:aquamarine; 
}
.veh_con2 .goods_left2{
    width: 193px;
    height: 416px;
    float: left;
}
.veh_con2 .goods_left2 a{
    width: 193px;
    height: 416px;
    float: left;
    background:url(../image/img2.png) no-repeat 100% 100%; 
}


.veh_con2 .goods_left2 a h1{
    font-size:22px; 
    color:#47B8AA;
    margin-top:40px;
    margin-left: 20px;
    text-align: left;
}
.veh_con2 .goods_left2 a .p1{
   font-size:14px;
    color: #888;
    font-weight:600; 
    margin-left: 20px;
    margin-bottom:20px; 
}
.veh_con2 .goods_left2 a p{
     color: #C64D4D;
    margin-left:20px;
    font-weight:600;
    text-align: left;
}
.veh_con2 .goods_left2 a .p3{
    margin-top:5px;
}
.veh_con2 .a_item2{
   width: 398px;
    height: 416px;
    float: left;
}
.veh_con2 .a_item2 a{
    float: left;
    width: 50%;
    height: 208px;
    position: relative;
    text-align: center; 
}
.veh_con2 .a_item2 a p{
     text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    width: 180px;
    margin-left:10px; 
}
.veh_con2 .a_item2 .text{
   position: absolute;
    bottom:10px;
}
.veh_con2 .text b{
    font-weight:600;
    font-size:18px;
    color:#B31313; 
}
.brand2{
    width:551px;
    height: 49px;
    line-height: 49px;
    padding:0 20px; 
    background-color:#fff; 
    position:relative;
}
.brand2 span{
    display: inline-block;
    width: 20px;
    height:49px;
    text-align: center;
    position: absolute;
    left:0;
    top:0;
    background-color:#ccc; 
    font-weight:700; 
}


.brand2 b{
    display: inline-block;
    width: 20px;
    height: 49px;
    background-color: antiquewhite;
    position:absolute;
    right:0;
    top:0;
    text-align:center;
    font-weight:700; 
}
.brand2 img{
    margin:0 11px; 
}
.padding{
    height: 55px;
}










/*------------------------------------------------------*/


/*家用电器*/
.household{
    width: 591px;
    height: 523px;
    border:1px solid blue;
    float: right;
}

#change_pic{
    background:url(../image/img9.png) no-repeat 100% 100%; 
}




/*售后服务*/

.after_sales{
    width: 100%;
    height: 294px;
    background-color:#fff;
}

.after_sales .pro{
    width: 100%;
    text-align: center;
    border-bottom:1px solid #ccc; 
}

.after_show{
    width: 1200px;
    margin:auto; 
    text-align: center;
}
.after_show ul{
    float: left;
    width: 300px;
    margin: 30px 0 0 ; 
}
.after_show ul h1{
    margin-bottom:15px;
    font-weight:700; 
}

.after_show ul li{line-height: 25px;}
.after_show ul a:hover{color: red;}

/*版权*/
.copy{
    width: 100%;
    text-align: center;
    padding-top:30px;
    background-color:#F6F6F6; 
    color:#999;
    padding-bottom:25px; 
}



