

body{
	width: 100%;height: 800px;position: relative;
	
}
.header{
	width: 100%;
	height: 142px;
	margin:auto; 
	border-bottom: 1px solid #ccc;
}
.header a img{
	margin-top:40px; 
}
.header span{
	float: right;
	margin-top:115px;
	font-weight: 600;
	color: #777;
}
.header span a:hover{
	color: red;
}
.com_Cter{
	width: 1200px;
	height: auto;
	margin:auto; 
}

.content{
	width: 100%;
	height: auto;
	text-align: center;
}
.set_zhang{
	width: 440px;
	height: auto;
	margin:75px auto 0; 
	text-align: left;
}
.set_zhang i{
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border:1px solid #ccc;
	border-right:none; 
}
.mobile_number{
	height: 40px;
	line-height: 40px;
	margin-bottom:20px; 
}
.mobile_number select{
	border:none;
	style:none;
	border:1px solid #ccc;
	width: 125px;
	height: 42px;
	line-height: 40px;
	padding-left:10px; 
}
.mobile_number input{
	width: 130px;
	height: 40px;
	border:1px solid #ccc;
	padding-left:16px; 
}
.set_zhang b img{margin-left:15px; }
.set_zhang span{
	font-size:18px;
	display: inline-block;
	width: 70px; 
	height: 40px;
	line-height: 40px;
}


.verify_code input{
	border:1px solid #ccc;
	width: 130px;
	height: 40px;
	padding-left:10px; 
}



.next a{
	display: block;
	width: 123px;
	height: 34px;
	line-height: 34px;
	background-color:#58C9B9;
	font-size:20px;
	color:#fff;  
	margin-left:72px;
	margin-top:43px;   
	text-align: center;
}

.agreement{
	margin-left:73px; 
	margin-top:10px; 
	font-size:12px; 
}

.agreement a,.agreement i{
	color:#58C9B9;
}
.agreement a:hover{
	color: red;
	text-decoration:underline;
}

.agreement i{
	width: 0;
	height: 0;
}



.content p{font-size:24px; }
.content .p1{margin:80px 0 25px; font-size:20px; }
.content .p3{margin: 25px 0 50px}



/* 版权 */
.copy{
	width: 100%;
	height: 50px;	
	line-height: 50px;
	text-align: center;
	padding:10px  0;
	border-top:1px solid #ccc; 
	position: absolute;
	bottom: 0;
	left:0;
}


































































